<ion-header>
  <header>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav>
      <ul>
        <li><a class="one" href="#">Home</a></li>
        <li><a class="two" href="#">About</a></li>
        <li><a class="three" href="#">Calendar</a></li>
        <li><a class="four" href="#">Mission Trips</a></li>
        <li><a class="five" href="#">Water Wells</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    <img class="logo" src="../../assets/black_favicon_b.png" />
  </header>
</ion-header>

<ion-content>
  <div class="page">
    <h1>Donations</h1>

    <div class="kindfulCard">
      <ion-card class="kindful">
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>

      <h3>
        You can either donate to Spark in general here, or you can scroll down
        and donate to a specific project or partner that we are currently
        supporting.
        <ion-icon name="chevron-down-outline"></ion-icon>
      </h3>
    </div>

    <h2>Water Wells</h2>
    <div class="donateContainer">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>
    </div>

    <h2>Construction Projects</h2>
    <div class="donateContainer">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>
    </div>

    <h2>Missionaries and Partners</h2>
    <div class="donateContainer">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
