<ion-header>
  <header>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav>
      <ul>
        <li><a class="one" href="http://localhost:8100/home">Home</a></li>
        <li><a class="two" href="#">About</a></li>
        <li><a class="three" href="#">Calendar</a></li>
        <li><a class="four" href="#">Mission Trips</a></li>
        <li><a class="five" href="#">Water Wells</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    <img class="logo" src="../../assets/black_favicon_b.png" />
  </header>
</ion-header>

<ion-content>
  <div class="page">
    <div class="kindfulCard">
      <div class="iconContainer ion-margin">
        <ion-icon name="cash-outline"></ion-icon>
      </div>
      <div class="title ion-margin">
        <h1>SUPPORTING SPARK MEANS SUPPORTING CHILDREN IN NEED</h1>
        <h2>EVERY DOLLAR HELPS</h2>
      </div>
      <ion-card class="kindful ion-margin ion-padding">
        <ion-card-header>
          <ion-card-title>Donate</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <ion-input clearInput></ion-input>
        </ion-item>
        <ion-button expand="full">Submit</ion-button>
      </ion-card>
    </div>

    <div class="intro">
      <p class="ion-margin">
        Looking to donate to something more specific?
      </p>
    </div>
    <div class="icon">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>

    <div class="donateContainer">
      <h2>Water</h2>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Sponsor an entire well</ion-card-subtitle>
          <ion-card-title>Whole Water Well</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          When you sponsor an entire well you can dedicate it with a plaque
        </ion-card-content>
        <ion-button expand="full">Support</ion-button>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Donate toward a well</ion-card-subtitle>
          <ion-card-title>Partial Water Well</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Contribute to making life-saving water accessible to everyone
        </ion-card-content>
        <ion-button expand="full">Support</ion-button>
      </ion-card>

      <h2>Construction and On-going Support</h2>
      <div class="donateContainer">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Help us build a home</ion-card-subtitle>
            <ion-card-title>Housing</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            We frequently build housing for families with children in need
          </ion-card-content>
          <ion-button expand="full">Support</ion-button>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >Support kids outside of their homes</ion-card-subtitle
            >
            <ion-card-title>Orphanages and Schools</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            We support local teachers and caretakers all around the world. By
            working closely with locals to provide supplies, food, upkeep, and
            new construction we are able to provide kids with safe and enriching
            places to go during the day.
          </ion-card-content>
          <ion-button expand="full">Support</ion-button>
        </ion-card>
      </div>

      <h2>Missionaries and Partners</h2>
      <div class="donateContainer">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Missionary</ion-card-subtitle>
            <ion-card-title>Lucy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Located in Bogota, Colombia and is very awesome. Enjoys chilis
          </ion-card-content>
          <ion-button expand="full">Support</ion-button>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Missionary</ion-card-subtitle>
            <ion-card-title>Craig</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Craig lives in Africa and likes Waffle House
          </ion-card-content>
          <ion-button expand="full">Support</ion-button>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Partner Ministry</ion-card-subtitle>
            <ion-card-title>Answer International</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Answer does stuff that Spark also does but a little different for
            some reason
          </ion-card-content>
          <ion-button expand="full">Support</ion-button>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
