<ion-header>
  <header>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav>
      <ul>
        <li><a class="one" href="http://localhost:8100/home">Home</a></li>
        <li><a class="two" href="#">About</a></li>
        <li><a class="three" href="#">Calendar</a></li>
        <li><a class="four" href="#">Mission Trips</a></li>
        <li><a class="five" href="#">Water Wells</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    <img class="logo" src="../../assets/black_favicon_b.png" />
  </header>
</ion-header>

<ion-content>

</ion-content>
