<ion-content>
  <header>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav>
      <ul>
        <li><a class="one" href="#">About</a></li>
        <li><a class="two" href="#">Calendar</a></li>
        <li><a class="three" href="#">Donate</a></li>
        <li><a class="four" href="#">Mission Trips</a></li>
        <li><a class="five" href="#">Water Wells</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    <img class="logo" src="../../assets/black_favicon_b.png" />
  </header>
  <!-- header ends -->

  <div class="page">
    <div class="intro">
      <div>
        <h1 class="title">Spark Worldwide</h1>
      </div>
      <div class="subtitle">
        <h1>Serve, Protect, And Raise Kids</h1>
      </div>
    </div>

    <div class="navArrow">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>

    <div class="cards ion-margin">
      <ion-card class="card">
        <img class="cardImg" src="../../assets/grace.jpg" />
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center"
            >Learn how we're changing lives</ion-card-subtitle
          >
          <ion-button expand="block" size="large" strong="true" fill="outline"
            >Support Us</ion-button
          >
        </ion-card-header>
      </ion-card>
      <ion-card class="card">
        <img class="cardImg" src="../../assets/miss.JPG" />
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center"
            >Serve and make an impact</ion-card-subtitle
          >
          <ion-button expand="block" size="large" strong="true" fill="outline"
            >Mission Trips</ion-button
          >
        </ion-card-header>
      </ion-card>
      <ion-card class="card">
        <img class="cardImg" src="../../assets/water-2.jpg" />
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center"
            >Support our mission to provide water</ion-card-subtitle
          >
          <ion-button expand="block" size="large" strong="true" fill="outline"
            >Water Wells</ion-button
          >
        </ion-card-header>
      </ion-card>
    </div>

    <div class="calendarAndContact">
      <ion-card class="calCard">
        <ion-card-header>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-card-title>Our Calendar</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item color="tertiary">
              <ion-label>August 2021 - Brazil</ion-label>
              <ion-button fill="outline">Details</ion-button>
            </ion-item>
            <ion-item color="tertiary">
              <ion-label>October 2021 - Africa</ion-label>
              <ion-button fill="outline">Details</ion-button>
            </ion-item>
            <ion-item color="tertiary">
              <ion-label>February 2022 - Amazon</ion-label>
              <ion-button fill="outline">Details</ion-button>
            </ion-item>
            <ion-item color="tertiary">
              <ion-label>February 2023 - Amazon</ion-label>
              <ion-button fill="outline">Details</ion-button>
            </ion-item>
            <ion-item color="tertiary">
              <ion-label>February 2024 - Amazon</ion-label>
              <ion-button fill="outline">Details</ion-button>
            </ion-item>
            <ion-item color="tertiary">
              <ion-label>February 2025 - Amazon</ion-label>
              <ion-button fill="outline">Details</ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card class="contact">
        <ion-card-header>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-card-title>Contact Us</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item color="tertiary">
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item color="tertiary">
            <ion-label position="floating">Message</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
        </ion-card-content>
        <div class="contactBtn">
          <ion-button class="ion-padding" fill="outline">Submit</ion-button>
        </div>
      </ion-card>
    </div>

    <ion-footer>
      <div class="footerStuff">
        <img class="logo" src="../../assets/black_favicon_b.png" />
        <div class="sectionTwo">
          <div class="socialIcons">
            <ion-button shape="round" fill="clear" size="large" color="dark">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
            <ion-button shape="round" fill="clear" size="large" color="dark">
              <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
            </ion-button>
            <ion-button shape="round" fill="clear" size="large" color="dark">
              <ion-icon slot="icon-only" name="logo-youtube"></ion-icon>
            </ion-button>
          </div>
        </div>
        <div class="sectionOne">
          <p>
            Spark Worldwide is a 501(c)(3) organization based out of Burleson
            Texas
          </p>
        </div>
        <div class="sectionThree">
          <p>
            Mail: 329 South Dobson Street, Burleson, Texas 76028
          </p>
          <p>
            Phone: (817) 295-7671
          </p>
          <p>
            Email: darrell@sparkworldwide.org
          </p>
        </div>
      </div>
    </ion-footer>
  </div>
</ion-content>
