<ion-content>
  <header>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav>
      <ul>
        <li><a class="one" href="#">About</a></li>
        <li><a class="two" href="#">Calendar</a></li>
        <li><a class="three" href="#">Donate</a></li>
        <li><a class="four" href="#">Mission Trips</a></li>
        <li><a class="five" href="#">Water Wells</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    <img class="logo" src="../../assets/black_favicon_b.png" />
  </header>
  <!-- header ends -->

  <div class="page">
    <div class="intro">
      <div>
        <h1 class="title">Spark Worldwide</h1>
      </div>
      <div class="subtitle">
        <h1>Serve, Protect, And Raise Kids</h1>
      </div>
    </div>

    <div class="navArrow">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>

    <div class="cards">
      <ion-card>
        <img src="../../assets/grace.jpg" />
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center"
            >Learn how we're changing lives</ion-card-subtitle
          >
          <ion-button expand="block" size="large" strong="true" fill="outline"
            >Support Us</ion-button
          >
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="../../assets/miss.JPG" />
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center"
            >Serve and make an impact</ion-card-subtitle
          >
          <ion-button expand="block" size="large" strong="true" fill="outline"
            >Mission Trips</ion-button
          >
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="../../assets/water-2.jpg" />
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center"
            >Support our mission to provide water</ion-card-subtitle
          >
          <ion-button expand="block" size="large" strong="true" fill="outline"
            >Water Wells</ion-button
          >
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
